@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
    color: rgba(0, 0, 0, 0.7);
}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
}

body {
    font-family: 'Bacasime Antique', serif;
    line-height: 1.4;
}

html,
body {
    height: 100%;
}

img {
    width: 100%;
}

.home, 
.skill {
    margin-left: 15%;
}

.home_container {
    width: 100%;
    height: 100%;
    grid-template-columns: 200px 1fr;
    background-color: lightblue;
    border: 2px solid black;

}

.home {
    background-image: url(images/home_bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    color: white;
    position: relative;
}

.home_title {
    position: absolute;
    bottom: 40px;
    right: 40px;
    text-align: right;
    font-size: 40px;
}

nav {
    height: 100%;
    width: 15%;
    position: fixed;
    display: grid;
    /* align-items: center; */
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 15px;
    background-color: #f2f3f7;
   
}

.profile_nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    color: #000;
    font-size: 20px;
}

.nav_button_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    font-size: 20px;
}

.dp {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 5px solid white;
}


/* Skills Section */

.skill {
    height: auto;
    display: grid;
    justify-content: center;
    align-items: center;
    /* background-color: lightyellow; */
    position: relative;
    padding-bottom: 20px;
}

.skill_title {
    width: 100%;
    height: 100px;
    /* background-color: lightpink; */
    text-align: center;
    padding: 20px;
    margin-bottom: 50px;

}

.skill_title h1 {
    font-size: 40px;
    padding-bottom: 5px;
}

.skill_title p {
    font-size: 19px;
}

.skill_cards {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    /* background-color: lightblue; */
}

.card {
    height: 300px;
    width: 300px;
    /* background: lightgreen; */
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
    padding: 14px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    transition: 0.2s ease-in-out;
    border-radius: 5px;

}

.card p {
    font-size: 15px;
}

.card:hover {
    transform: scale(1.04);
    transition: 0.2s ease-in-out;
}

#skill_1 {
    background-color: #ffd8de;
}

#skill_2 {
    background-color: #d3f5ff;
}

#skill_3 {
    background-color: #cfffcf;
}

#skill_4 {
    background-color: #cbd5e0;
}

#skill_5 {
    background-color: #ffffd0;
}

#skill_6 {
    background-color: #deb8f2;
}

.skill_cards .card img {
    height: 20px;
    width: 20px;
    margin-top: 15px;
}

/* Interest Section */



.interest {
    height: auto;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15%;
    margin-top: 100px;
    
}

.hobby,
.gaming {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 2%;
    padding-top: 2%;
}

.hobby img,
.gaming img {
    width: 30%;
    height: auto;
    border-radius: 10px;
}

.hobby_list {
    height: auto;
    width: 25%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.hobby_list div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.hobby_list img {
    width: 80%;
    border-radius: 50%;
    object-fit: cover;
}

.gaming {
    padding-top: 50px;
}

.gaming_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 40%;
}

.gaming_list img {
    width: 45%;
    border-radius: 50%;
}

.valorant {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fifa {
    width: 100%;
}

/* Education Section */


.education {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #E3F2FD; */
    min-height: 100vh;
    width: 85%;
    margin-left: 15%;
    position: relative;
}

.education h1 {
    position: absolute;
    top: 50px;
    left: 90px;
    font-size: 35px;
    opacity: 0.9;
}

.accordion {
    max-width: 530px;
    width: 100%;
    background-color: #FFF;
    margin: 0 15px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.accordion .accordion-content {
    margin: 10px 0;
    border-radius: 4px;
    background-color: #FFF7F0;
    border: 1px solid #FFD6B3;
    overflow: hidden;
    
}


.accordion-content:nth-child(2) {
    background-color: #F0FAFF;
    border-color: #CCEEFF;
}


.accordion-content:nth-child(3) {
    background-color: #FFF0F3;
    border-color: #FFCCD6;
}


.accordion-content:nth-child(4) {
    background-color: #F0F0FF;
    border-color: #CCCCFF;
}


.accordion-content.open header {
    min-height: 35px;
}

.accordion-content header {
    display: flex;
    align-items:  center;
    justify-content: space-between;
    padding: 0 15px;
    min-height: 50px;
    cursor: pointer;
    transition: all 0.2s linear;
}

.accordion-content.open header{
    padding-bottom: 10px;
}

.accordion-content header .title {

    font-size: 14px;
    font-weight: 500;
    color: #333;
}

.accordion-content header i {
    font-style: 15px;
    color: #333;

}

.accordion-content .description {
    height: 0;
    padding: 0 15px;
    font-size: 12px;
    color: #333;
    font-weight: 400;
    transition: all 0.2s linear;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-gap: 10px;
}



